@font-face {
  font-family: "iconfont"; /* Project id 3917779 */
  src: url('iconfont.woff2?t=1677404354392') format('woff2'),
       url('iconfont.woff?t=1677404354392') format('woff'),
       url('iconfont.ttf?t=1677404354392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingtian:before {
  content: "\e60a";
}

.icon-manyue:before {
  content: "\e623";
}

.icon-Group:before {
  content: "\e625";
}

.icon-shaoyun:before {
  content: "\e626";
}

.icon-canyue:before {
  content: "\e628";
}

.icon-baoyu:before {
  content: "\e629";
}

.icon-dayu:before {
  content: "\e62a";
}

.icon-baoxue:before {
  content: "\e62b";
}

.icon-daxue:before {
  content: "\e62c";
}

.icon-dayuzhuanqing:before {
  content: "\e62d";
}

.icon-duoyunzhuanqingtian:before {
  content: "\e62e";
}

.icon-leizhenyu:before {
  content: "\e62f";
}

.icon-emeiyue:before {
  content: "\e630";
}

.icon-shandian:before {
  content: "\e631";
}

.icon-shangxianyue:before {
  content: "\e632";
}

.icon-wanduoyun:before {
  content: "\e633";
}

.icon-wanqingtian:before {
  content: "\e634";
}

.icon-wumai:before {
  content: "\e635";
}

.icon-wu:before {
  content: "\e636";
}

.icon-tedazhenyu:before {
  content: "\e637";
}

.icon-xiaxianyue:before {
  content: "\e638";
}

.icon-xiaoxue:before {
  content: "\e639";
}

.icon-xiaoyu:before {
  content: "\e63a";
}

.icon-xinyue:before {
  content: "\e63b";
}

.icon-yintian:before {
  content: "\e63c";
}

.icon-zhenyu:before {
  content: "\e63d";
}

.icon-zhenyuzhuanqing:before {
  content: "\e63e";
}

.icon-yujiaxue:before {
  content: "\e63f";
}

.icon-zhongxue:before {
  content: "\e640";
}

.icon-zhongyu:before {
  content: "\e641";
}

.icon-zhangxianyue:before {
  content: "\e642";
}

.icon-Group1:before {
  content: "\e643";
}

